<div class="container center">
    <h1>Witaj w serwisie! Aby kontynuować musisz się zalogować</h1>
    <h5>Witaj na naszej stronie internetowej, gdzie możesz odkrywać, dodawać i zarządzać swoją kolekcją 1000 piosenek! Nasza platforma umożliwia użytkownikom odkrywanie nowej muzyki, dodawanie swoich ulubionych utworów oraz tworzenie własnych list ulubionych piosenek.

        Nieograniczony dostęp do naszej bazy danych zawiera szeroki zakres gatunków muzycznych, od rocka i popu po hip-hop i muzykę klasyczną. Możesz przeglądać piosenki według kategorii, wyszukiwać artystów, tytułów utworów lub po prostu cieszyć się losowym odtwarzaniem, aby odkryć coś zupełnie nowego.
        
        Jeśli odkryjesz utwór, który wzbudza Twoje zainteresowanie, możesz go dodać do swojej osobistej kolekcji. Zbieraj ulubione piosenki i twórz własne playlisty, aby mieć dostęp do nich w dowolnym miejscu i czasie. Możesz również udostępniać swoje playlisty z przyjaciółmi i rodziną, aby dzielić się swoimi muzycznymi odkryciami.
        
        Co więcej, zapewniamy możliwość dodawania nowych piosenek do naszej bazy danych. Jeśli masz ulubiony utwór, którego nie znalazłeś na stronie, po prostu podziel się nim z nami, a my dodamy go do naszej kolekcji, aby inni użytkownicy mogli również go odkryć.
        
        Nie trać czasu na przeszukiwanie różnych serwisów muzycznych, nasza strona zapewnia Ci wszystko w jednym miejscu. Poznawaj nowe piosenki, twórz swoją kolekcję ulubionych utworów i ciesz się muzyką bez ograniczeń. Dołącz do naszej społeczności muzycznej i pozwól swojej pasji do muzyki rozkwitnąć na naszej platformie!</h5>
</div> 